<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>YeongBee-Blog</title>
    <link rel="icon" type="image/x-icon" href="/blogs/assets/favicon.ico"/>

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <link href="/blogs/css/styles.css" rel="stylesheet"/>
</head>

<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/blog">YeongBee</a>
        <div class="ms-auto">
            <a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{/blog/modify/{id}(id=${post.id})}">수정</a>
            <a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{/blog/delete/{id}(id=${post.id})}">삭제</a>

            <a class="navbar-brand" sec:authorize="isAnonymous()" href="/login">Login</a>
            <a class="navbar-brand" sec:authorize="isAuthenticated()" href="/logout">LogOut</a>
        </div>

    </div>
</nav>

<!-- Page Header-->
<header class="masthead bg-transparent" >
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1 th:text="${post.title}">Post Title</h1>
                    <div class="meta-container">
                        <div th:text="${post.account.nickname}"></div>
                        <div th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->

<div class="mb-4" style="word-break: break-all">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p class="card-text" th:utext="${@commonUtil.markdown(post.content)}">Post Content</p>
            </div>
        </div>
    </div>
</div>


<div class="mb-5"></div>


<!-- Footer-->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://github.com/YeongBee/YeongBee">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; YeongBee Website 2024</div>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/blogs/js/scripts.js"></script>
</body>
</html>
