<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link href="/errors/404/error404.css" rel="stylesheet">
    <link href="/blogs/css/styles.css" rel="stylesheet">
</head>
<body>
<section class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">404</h1>
                    </div>

                    <div class="content_box_404">
                        <h3 class="h2">
                            원시인이 연결을 삭제 시켰습니다!!
                        </h3>

                        <p class="ar">페이지를 찾을 수 없습니다.</p>
                        <p>안전한 곳으로 돌아가려면 아래를 클릭하세요.</p>

                        <a href="/blog" class="link_404">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
