<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>403</title>
    <link th:href="@{/errors/403/error403.css}" rel="stylesheet">
    <script th:src="@{/errors/403/error403.js}"></script>
</head>
<body>
<div class="container">
    <h1>4
        <div class="lock">
            <div class="top"></div>
            <div class="bottom"></div>
        </div>
        3
    </h1>
    <p>Access denied</p>
</div>
</body>
</html>